/* Add Open Sans font */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

/* Initialize body */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Open Sans", sans-serif;
  font-size: clamp(0.75rem, 2vw, 1.5rem);
}

.main-ui {
  /* Set max width and use full screen height */
  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;
  padding: 0 1rem;

  /* Set content to center */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.problem {
  /* font-size: 5rem; */
  font-size: clamp(3rem, 10vw, 8rem);
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 2rem;
}

.our-form input,
.our-form button {
  font-size: clamp(0.75rem, 2vw, 1.5rem);
}

.boxes {
  display: flex;
  width: 100%;
}

.progress {
  /* Make a border except the right side */
  border: 1px solid #c7c7c7;
  border-right: none;
  width: 100%;
  position: relative;
}

.progress-inner {
  position: absolute;
  /* Use full length by setting top and bottom to 0 */
  top: 0;
  bottom: 0;

  /* Use full width */
  width: 100%;

  background-color: #7ecc00;
  opacity: 0.57;

  /* Re-render the progress inner instead of modifying the width */
  /* Set it to 0 and progresses when user gets correct answer */
  transform: scaleX(0);

  /* Align the transformed progress inner to the left */
  /* first value (center) - controls verical placement */
  /* second value (left) - controls horizontal placement */
  transform-origin: center left;

  /* Animate transform */
  transition: transform 0.4s ease-out;
}

.box {
  height: 40px;
  border-right: 1px solid #c7c7c7;

  /* Take up 1fr width each*/
  flex: 1;
}

.points-needed {
  color: green;
  font-weight: 700;
}

.mistakes-allowed {
  color: red;
  font-weight: 700;
}

.overlay {
  /* Grab the full screen */
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  /* Add a semi see-through white background */
  background-color: rgba(255, 255, 255, 0.9);

  /* Center overlay content */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Hide overlay, only shows when user wins or lose */
  opacity: 0;
  visibility: hidden;

  /* Animate */
  transition: all 0.33s ease-out;
  transform: scaleX(1.2);
}

.overlay .overlay-inner {
  text-align: center;
}

.overlay .overlay-inner .end-message {
  font-size: clamp(3rem, 10vw, 8rem);
  margin-top: 0;
  margin-bottom: 1rem;
}

.overlay .overlay-inner .reset-button {
  font-size: clamp(0.75rem, 2vw, 1.5rem);
  font-weight: 700;
  padding: 1rem 2rem;
  background-color: #4338e7;
  color: #fff;
}

/* If body has class of overlay-is-open, show overlay */
body.overlay-is-open .overlay {
  opacity: 1;
  visibility: visible;

  transform: scaleX(1);
}

/* Blur the background */
body.overlay-is-open .main-ui {
  filter: blur(4px);
}

/* Turn problem colored red when user inputs wrong answer */
@keyframes showError {
  50% {
    color: red;
    transform: scaleX(1.2);
  }

  100% {
    color: #000;
    transform: scaleX(1);
  }
}

.animate-wrong {
  animation: 0.45s showError;
}
